@model UsuarioVm
@{
    ViewData["Title"] = "Editar Usuario";
    var mensajeError = (string)this.ViewBag.MensajeError;
}

<div class="row">
    <div class="col-xl-12">
        <div class="nav-align-top nav-tabs-shadow mb-6">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-datos-generales" aria-controls="navs-datos-generales" aria-selected="false"><span class="d-none d-sm-block"><i class="tf-icons bx bx-user bx-sm me-1_5 align-text-bottom"></i>Datos Generales</span><i class="bx bx-sm bx-user d-sm-none"></i></button>
                </li>
                @if (Context.TienePermiso(MenuGeneral.CodigoMenu, MenuGeneral.Permisos.CambiarContraseña))
                {
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-seguridades" aria-controls="navs-seguridades" aria-selected="false"><span class="d-none d-sm-block"><i class="tf-icons bx bx-sm bxs-key me-1_5 align-text-bottom"></i>Seguridades</span><i class="bx bx-sm bxs-key d-sm-none"></i></button>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-datos-generales" role="tabpanel">
                    <form id="formAccountSettings" method="POST" asp-action="EditarUsuario" asp-controller="MenuGeneral">
                        <div class="row g-12">
                            <div class="col-md-12 text-danger text-end fw-bold mb-2">
                                <span>Los campos señalados con * son obligatorios.</span>
                            </div>
                        </div>
                        <div class="row g-6">
                            <div class="col-md-6">
                                <label for="codigo" class="form-label">Código</label>
                                <input asp-for="Codigo" class="form-control" type="text" id="Codigo" name="Codigo" readonly />
                            </div>
                            <div class="col-md-12">
                                <label for="Descripcion" class="form-label required">Descripción</label>
                                <input asp-for="Descripcion" class="form-control" type="text" name="Descripcion" id="Descripcion" required autofocus />
                            </div>
                        </div>
                        <div class="mt-6">
                            @if (Context.TienePermiso(MenuGeneral.CodigoMenu, MenuGeneral.Permisos.ActualizarDatos))
                            {
                                <button type="submit" class="btn btn-primary me-3">Guardar Cambios</button>
                            }
                            <a asp-action="Index" asp-controller="Home" type="reset" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="navs-seguridades" role="tabpanel">
                    <form id="formAccountSettings" method="POST" asp-action="EditarCredenciales" asp-controller="MenuGeneral">
                        <div class="row g-12">
                            <div class="col-md-12 text-danger text-end fw-bold mb-2">
                                <span>Los campos señalados con * son obligatorios.</span>
                            </div>
                        </div>
                        <div class="row g-6">
                            <div class="col-md-6">
                                <label for="Codigo" class="form-label">Código</label>
                                <input asp-for="Codigo" class="form-control" type="text" id="Codigo" name="Codigo" autofocus readonly />
                            </div>
                            <div class="col-md-6">
                                <label for="Descripcion" class="form-label">Descripción</label>
                                <input asp-for="Descripcion" class="form-control" type="text" name="Descripcion" id="Descripcion" autofocus readonly />
                            </div>
                            <div class="col-md-6">
                                <div class="mb-6 form-password-toggle">
                                    <label for="ContraseniaActual" class="form-label required">Contraseña Actual</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="ContraseniaActual" class="form-control" name="ContraseniaActual" placeholder="Ingresa tu contraseña actual" aria-describedby="password" required />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-6 form-password-toggle">
                                    <label for="ContraseniaNueva" class="form-label required">Contraseña Nueva</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="ContraseniaNueva" class="form-control" name="ContraseniaNueva" placeholder="Ingresa tu nueva contraseña" aria-describedby="password" required />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-6">
                            @if (Context.TienePermiso(MenuGeneral.CodigoMenu, MenuGeneral.Permisos.CambiarContraseña))
                            {
                                <button type="submit" class="btn btn-primary me-3">Cambiar Contraseña</button>
                            }
                            <a asp-action="Index" asp-controller="Home" type="reset" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
