@model ParametroAmbientalVm
@{
    ViewData["Title"] = "Parámetros Ambientales";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Parámetros Ambientales</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuParametroAmbiental.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <form id="formAccountSettings" asp-action="EditarParametroAmbiental" asp-controller="ParametroAmbiental" method="POST">
                    <div class="row g-12">
                      <div class="col-md-12 text-danger text-end fw-bold mb-2">
                        <span>Los campos señalados con * son obligatorios.</span>
                      </div>
                    </div>
                    <div class="row g-6">
                        <input type="hidden" asp-for="Id" />
                        <div class="col-md-6">
                            <label for="Codigo" class="form-label required">Código</label>
                            <input asp-for="Codigo" class="form-control" type="text" id="Codigo"
                                   name="Codigo" maxlength="10" required autofocus readonly />
                        </div>
                        <div class="col-md-6">
                            <label for="Laboratorio" class="form-label">Laboratorio</label>
                            <input type="hidden" asp-for="IdLaboratorio" id="IdLaboratorio" name="IdLaboratorio" />
                            <input asp-for="NombreLaboratorio" class="form-control" type="text" id="NombreLaboratorio"
                                   name="NombreLaboratorio" maxlength="10" required autofocus readonly />
                        </div>
                        <div class="col-md-6">
                            <label for="Orden" class="form-label required">Orden</label>
                            <input asp-for="Orden" class="form-control" type="number" id="Orden"
                                name="Orden" min="0" required autofocus/>
                        </div>
                        <div class="col-md-6">
                            <label for="Nombre" class="form-label required">Nombre</label>
                            <input asp-for="Nombre" class="form-control" type="text" id="Nombre"
                              name="Nombre" maxlength="150" required autofocus/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Normal</label>
                            <input asp-for="ValorNormal" class="form-control" type="number" id="ValorNormal" step="0.0000"
                                   name="ValorNormal" placeholder="Valor Normal" autofocus required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Mínimo</label>
                            <input asp-for="ValorMinimo" class="form-control" type="number" id="ValorMinimo" step="0.0000"
                                   name="ValorMinimo" placeholder="Valor Mínimo" autofocus required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label required">Máximo</label>
                            <input asp-for="ValorMaximo" class="form-control" type="number" id="ValorMaximo" step="0.0000"
                                   name="ValorMaximo" placeholder="Valor Máximo" autofocus required />
                        </div>
                        <div class="col-md-12">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <input asp-for="Descripcion" class="form-control" type="text"
                                   name="Descripcion" id="Descripcion" autofocus />
                        </div>
                    </div>
                    <div class="mt-6">
                        @if(Context.TienePermiso(MenuParametroAmbiental.CodigoMenu, MenuParametroAmbiental.Permisos.Editar))
                        {
                          <button type="submit" class="btn btn-primary me-3">Guardar Cambios</button>
                        }
                        <a asp-action="Index" asp-controller="ParametroAmbiental" type="reset" class="btn btn-outline-secondary">Regresar</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
<script src="~/js/parametroAmbiental/parametro-ambiental-general.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
