@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Error";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}

@* ************** Content ************** *@
<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h3 class="mb-2 mx-2">Servicio No Disponible! 🚧</h3>
        <p class="mb-6 mx-2">
            Disculpa las molestias, pero estamos realizando algo de mantenimiento en este momento.<br />Por favor comuniquese con su administrador de sistemas.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Menú Principal</a>
        <div class="mt-6">
            <img src="~/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="256" class="img-fluid" data-app-light-img="illustrations/girl-doing-yoga-light.png" data-app-dark-img="illustrations/girl-doing-yoga-dark.png">
        </div>
    </div>
</div>
<!-- /Under Maintenance -->
