@model EstadioLarvaVm
@{
    ViewData["Title"] = "Estadio de Larva";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Estadio de larva</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuEstadioLarva.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <form id="formAccountSettings" asp-controller="EstadioLarva" asp-action="CrearEstadioLarva" method="POST">
                    <div class="row g-12">
                        <div class="col-md-12 text-danger text-end fw-bold mb-2">
                          <span>Los campos señalados con * son obligatorios.</span>
                        </div>
                    </div>
                    <div class="row g-6">
                        <div class="col-md-6">
                            <input type="hidden" asp-for="Id" id="Id" name="Id" />
                            <label for="Codigo" class="form-label required">Código</label>
                            <input asp-for="Codigo" class="form-control" type="text" id="Codigo"
                              name="Codigo" maxlength="10" required autofocus />
                        </div>
                        <div class="col-md-6">
                            <label for="Laboratorio" class="form-label required">Laboratorio</label>
                            <select class="form-select" asp-for="IdLaboratorio" id="IdLaboratorio" name="IdLaboratorio" required autofocus></select>
                        </div>
                        <div class="col-md-12">
                            <label for="Nombre" class="form-label required">Nombre</label>
                            <input asp-for="Nombre" class="form-control" type="text" id="Nombre"
                              name="Nombre" maxlength="150" required autofocus/>
                        </div>
                        <div class="col-md-6">
                            <label for="DiaDesde" class="form-label required">Día Desde</label>
                            <input asp-for="DiaDesde" class="form-control" type="number"
                                   name="DiaDesde" id="DiaDesde" autofocus required />
                        </div>
                        <div class="col-md-6">
                            <label for="DiaHasta" class="form-label required">Día Hasta</label>
                            <input asp-for="DiaHasta" class="form-control" type="number"
                                   name="DiaHasta" id="DiaHasta" autofocus required />
                        </div>
                    </div>
                    <div class="mt-6">
                        @if(Context.TienePermiso(MenuEstadioLarva.CodigoMenu, MenuEstadioLarva.Permisos.Crear))
                        {
                          <button type="submit" class="btn btn-primary me-3">Crear</button>
                        }
                        <a asp-action="Index" asp-controller="EstadioLarva" type="reset" class="btn btn-outline-secondary">Regresar</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
<script src="~/js/estadioLarva/estadio-larva-general.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
