@model List<ColorVm>
@{
    ViewData["Title"] = "Color";
}
<h2>Bienvenido a mi aplicación</h2>

<p>Esta es una página simple usando Razor.</p>

<a asp-controller="Home" asp-action="About" class="btn btn-primary">Ir a Acerca de</a>
