@model HorasVm
@{
    ViewData["Title"] = "Horas";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Horas</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuHoras.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <form id="formAccountSettings" asp-controller="Horas" asp-action="CrearHoras" method="POST">
                    <div class="row g-12">
                        <div class="col-md-12 text-danger text-end fw-bold mb-2">
                          <span>Los campos señalados con * son obligatorios.</span>
                        </div>
                    </div>
                    <div class="row g-6">
                        <div class="col-md-3">
                            <label for="Orden" class="form-label required">Orden</label>
                            <input asp-for="Orden" class="form-control" type="number" id="Orden"
                                   name="Orden" min="0" required autofocus />
                        </div>
                        <div class="col-md-3">
                            <label for="Codigo" class="form-label">Codigo</label>
                            <input asp-for="Codigo" class="form-control" type="text" id="Codigo"
                                   name="Codigo" maxlength="150" autofocus readonly />
                        </div>
                        <div class="col-md-6">
                            <label for="Hora" class="form-label">Hora</label>
                            <input type="hidden" id="id" asp-for="Id" />
                            <input asp-for="Hora" class="form-control" type="time" name="Hora" id="Hora" step="3600" required autofocus />
                        </div>
                    </div>
                    <div class="mt-6">
                        @if(Context.TienePermiso(MenuHoras.CodigoMenu, MenuHoras.Permisos.Crear))
                        {
                          <button type="submit" class="btn btn-primary me-3">Crear</button>
                        }
                        <a asp-action="Index" asp-controller="Horas" type="reset" class="btn btn-outline-secondary">Regresar</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
